* {
    box-sizing: border-box;
    color: rgb(246, 246, 246);
    color: black;
}

html , body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/**** styling main header ****/

.main-header {
    background-color: rgb(50, 174, 176);
    background-blend-mode: multiply;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
}



.sticky {
    position: fixed;
    width: 100%;
    top: 0;
}

.content {
    margin-top: 20px;
    padding: 16px;
}

.sticky + .content {
    padding-top: 100px;
}


/**** styling main header ends ****/
/* .nav ul {
    margin: 0;
} */

/* .nav li {
    display: inline-block;
    align-items: center;
} */

/* .nav {
    margin: 0;
    padding-top: 20px;
} */

.sitename {
    color: white;
    font-weight: bolder;
}

.main-nav {
    display:flex;
    justify-content: space-around;
    align-items:center;
}

.image {
    height: 100px;
    width: 100px;
    background-blend-mode: screen;
}

.header-logo {
    display: inline-block;
    border: none;
    border-radius: 10%;
}

/* dropdown styling start */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    height: 2.45em;
    width: auto;
    padding: 16px;
    font-size: 20px;
    border: none;
    border-radius: 30px 0 0 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(243, 246, 251);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0, .2);
    z-index: 1;
    overflow: auto;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(50, 174, 176);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #04aa6dc5;
}

/* dropdown styling ends */

.button {
    text-align: center;
    vertical-align: middle;
    padding: 0.50em;
    cursor: pointer;
}

.button:hover {
    /* background-color: rgba(65, 62, 62, 0.55); */
}

.user-btn {
    border: none;
    padding: 4px;
    font-size: 2.5em;
    margin-bottom: 10px;
    margin-right: 15px;
    background-color: rgb(50, 174, 176);   
}

.cart-btn {
    border: none;
    padding: 7px;
    font-size: 2.5em;
    margin-bottom: 10px;
    margin-left: 15px;
    background-color: rgb(50, 174, 176);   
}

.search-header {
    display: flex;
    height: 3em;
    width: 60%;
    border-radius: 30px;
    align-items: center;
    background-color: white;
    padding: 10px 0 10px 0;
}

.search-header input[type=text]{
    border: none;
    font-weight: normal;
    font-size: 1.2em;
    height: 2em;
    width: 80%;
    outline: none;
    padding-left: 10px;
}

.search-btn {
    border: none;
    height: 3.6em;
    width: 10%;
    border-radius: 0 30px 30px 0;
    background-color: rgb(205, 236, 243);
}

.search-btn:hover {
    background-color: rgb(35, 47, 63);
    /* color: rgb(35, 47, 63); */
}

/* .search-btn:hover .fa-search {
    color: rgb(35, 47, 63);
/* } */

.fa-search {
    color: rgb(46, 169, 172);
    font-size: 2em;
}


/* footer styling starts here */
.footer {
    height: 250px;
    width: 100%;
}

.main-footer {
    background-color: rgb(35, 47, 63);
    color: white;
    padding: 1 0;
    border-top: 2px soild rgba(0, 0, 0, 0.2);
    position: relative;
}

.main-footer-container {
    display: flex;
    align-items:baseline;
    justify-content:space-around;
    /* border-bottom: 2px solid white; */

}

.column {
    /* margin: 10px auto; */
    /* padding: 0 20px; */
    padding: 0.5em;
}

.main-footer-nav li {
    color: white;
    padding: 10px 0;
    list-style-type: none;
}

.fa {
    color: white;
}

.footer-column-title {
    color: white;
    font-size: 1.5em;
    /* font-weight:800; */
}

.footer-bottom {
    display: inline-block;
    padding: 20px;
    width: 100%;
    border-top: 2px solid rgb(12 ,23 ,43, 0.5);
    background-color: rgb(35, 47, 63);
    color: white;
    font-weight: lighter;
    font:medium;
    text-align: center;
    position: absolute;
}

/* .footer-bottom:after {
    content: '';
    display: block;
    position:absolute;
    width: 80%;
    border-top: 2px solid #898989;
    margin-top: 8px;
} */


/* footer styling ends here */