<footer class="footer main-footer">
    <div class="nav container main-footer-container">
        <div class="footer-column know-us">
            <ul class="main-footer-nav">
                <span class="footer-column-title">Know Us</span>
                <li>Join Us</li>
                <li>About Us</li>
            </ul>
        </div>

        <div class="footer-column shopping">
            <ul class="main-footer-nav">
                <span class="footer-column-title">Shopping</span>
                <li>Browse by A-Z</li>
                <li>Sort By Manufacturer</li>
            </ul>
        </div>

        <div class="footer-column contact">
            <ul class="main-footer-nav">
                <span class="footer-column-title">Contact</span>
                <li><i class="fa fa-globe">Plot No. 417, Industrial Area Phase-9, S.A.S Nagar, Mohali 160062.
                        (Punjab)</i></li>
                <li><i class="fa fa-phone">1234567890</i></li>
                <li><i class="fa fa-envelope-open">SwiftPharma@abc.com</i></li>

            </ul>
        </div>

        <div class="footer-column website-info">
            <h2 class="sitename">SwiftPharma</h2>
            <img class="image footer-logo" src="/images/pharmacy-logo-by-Vexels.png">
        </div>

    </div>
    <div class="footer-bottom">
        <!-- <div class="footer-bottom-container"> -->
            <span class="copyright">&copy; Swiftpharma | Website Designed And Managed By : The Archons</span>
            <ul class="footer-bottom-list">
                <li><a href="https://www.facebook.com" target="blank"><img class="image footer-img" src="/images/logo-facebook.png" alt="click to go to facebook"></li>
                <li><a href="https://www.instagram.com" target="blank"><img class="image footer-img" src="/images/logo-instagram.png"></li>
                <li><a href="https://www.twitter.com" target="blank"><img class="image footer-img" src="/images/logo-twitter.png"></li>
            </ul>
        <!-- </div> -->
    </div>
</footer>
</body>

</html>
