<%-include('header');-%>

<div class="content">
    <section class="login">
            <div class="container-header">
              <div class="container">
                <h1>SwiftPharma</h1>
                <img src="/images/mask.png" class="imgcontainer" alt="Avatar" class="avatar">
              </div>

              <form action="/auths/login" method="POST">
                <div class="container">
                  <label for="email"><b>Email-ID</b></label>
                  <input class="login-cred" type="email" placeholder="Enter Email-ID" name="email" id="email" required>
                </div>

                <div class="container">
                  <label for="password"><b>Password</b></label>
                  <input class="login-cred" type="password" placeholder="Enter Password" name="password" id="password" required>
                </div>

                <div class="container">
                  <button class="button login-btn" type="submit">Login</button>
                  <div class="container">
                    <!--fluff-->
                  <label class="checkbox">
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                  </label>
                    <!--fluff-->
                  </div>
                </div>
              </form>

              <div class="container" style="background-color:#f1f1f1">
                <a href="/">
                  <input class="button cancel" type="submit" value="Cancel">
                </a>
                <div class="container-info">Not a user?<a href="/auths/register"> Register here.</a></div>
                  <!--fluff-->
                <div class="container-info">Forgot <a href="/">password?</a></div>
                <!--fluff-->
              </div>
              </div>
  </section>
  </div>

<%-include('footer');-%>
