<%-include('header');-%>

  <section>
    <div>
      <div class="container-header register">
        <h1 class="header-style">Create Account</h1>
        <form action="/auths/register" method="post">
          <div class="container">
            <label for="name">Name</label>
            <input class="reg-cred" type="text" id="name" name="name" size="35%" required>
          </div>
          <div class="container">
            <span class="container">
              <label for="email">Email</label>
              <input class="reg-cred" type="email" id="email" name="email" required>
            </span>

            <span class="container">
              <label for="password">Password</label>
              <input class="reg-cred" type="password" id="password" name="password" required>
            </span>
          </div>
          <hr>
          <div class="container">
            <label for="address">Address</label>
            <input class="reg-cred" type="text" id="address" name="address" size="70%" required>
          </div>
          <div class="container">
            <span class="container">
              <label for="city">City</label>
              <input class="reg-cred" type="text" id="city" name="city" required>
            </span>
            <span class="container">
              <label for="state">State</label>
              <input class="reg-cred" type="text" id="state" name="state" required>
            </span>
            <span class="container">
              <label for="pincode">Pincode</label>
              <input class="reg-cred" type="text" id="pincode" name="pincode" required>
            </span>
          </div>
          <hr>
          <div class="container">
            <label for="phone_no">Phone Number</label>
            <input class="reg-cred" type="text" id="phone_no" name="phone_no" size="30%" required>
          </div>
          <div class="container">
            <label for="dob">Date of Birth (dd/mm/yyyy)</label>
            <input class="reg-cred" type="text" id="dob" name="dob" required>
            <span class="container"></span>
            <label for="sex">Sex</label>
            <input class="reg-cred" type="text" id="sex" name="sex" size="10%" required>
          </div>
          <div class="container">
            <button class="button register-btn" type="submit">Register</button>
          </div>
        </form>

        <div class="container" style="background-color:#f1f1f1">
          <a href="/">
            <input class="button cancel" type="submit" value="Cancel">
          </a>
          Already a <a href="/auths/login">user?</a>
        </div>

      </div>
  </section>
  <!-- Already a <a href="/auths/login">user?</a> -->

  <%-include('footer');-%>