<section class="shop">
    <h2 class="shop-title">Best Recommendations</h2>
    <div id="recommendations" class="carousel slide card-slider" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="shop-row">
                    <div class="card-product">
                        <a href="/product/D-121">
                            <img class="card-product-img" src="images/D-121.png">
                            <div>
                                <span class="card-product-name">Cough Drop</span>
                            </div>
                            <div class="card-product-price-content">
                                <span class="card-product-content">Best Price* </span>
                                <span class="card-product-price">Rs.327</span>
                            </div>
                        </a>
                        <button class="button card-product-btn">BUY</button>
                    </div>
        
                    <div class="card-product">
                        <a href="/product/D-134">
                            <img class="card-product-img" src="images/D-134.png">
                            <div>
                                <span class="card-product-name">Sporlac</span>
                            </div>
                            <div class="card-product-price-content">
                                <span class="card-product-content">Best Price* </span>
                                <span class="card-product-price">Rs.105</span>
                            </div>
                        </a>
                        <button class="button card-product-btn">BUY</button>
                    </div>
        
                    <div class="card-product">
                        <a href="/product/D-130">
                            <img class="card-product-img" src="images/D-130.png">
                            <div>
                                <span class="card-product-name">YOHIMBINUM MT</span>
                            </div>
                            <div class="card-product-price-content">
                                <span class="card-product-content">Best Price* </span>
                                <span class="card-product-price">Rs.315</span>
                            </div>
                        </a>
                        <button class="button card-product-btn">BUY</button>
                    </div>

                    <div class="card-product">
                        <a href="">
                            <img class="card-product-img" src="images/D-130.png">
                            <div>
                                <span class="card-product-name">YOHIMBINUM MT</span>
                            </div>
                            <div class="card-product-price-content">
                                <span class="card-product-content">Best Price* </span>
                                <span class="card-product-price">Rs.315</span>
                            </div>
                        </a>
                        <button class="button card-product-btn">BUY</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="shop-row">
                    <div class="card-product">
                        <a href="/product/D-121">
                            <img class="card-product-img" src="images/D-121.png">
                            <div>
                                <span class="card-product-name">Cough Drop</span>
                            </div>
                            <div class="card-product-price-content">
                                <span class="card-product-content">Best Price* </span>
                                <span class="card-product-price">Rs.327</span>
                            </div>
                        </a>
                        <button class="button card-product-btn">BUY</button>
                    </div>
        
                    <div class="card-product">
                        <a href="/product/D-134">
                            <img class="card-product-img" src="images/D-134.png">
                            <div>
                                <span class="card-product-name">Sporlac</span>
                            </div>
                            <div class="card-product-price-content">
                                <span class="card-product-content">Best Price* </span>
                                <span class="card-product-price">Rs.105</span>
                            </div>
                        </a>
                        <button class="button card-product-btn">BUY</button>
                    </div>
        
                    <div class="card-product">
                        <a href="/product/D-130">
                            <img class="card-product-img" src="images/D-130.png">
                            <div>
                                <span class="card-product-name">YOHIMBINUM MT</span>
                            </div>
                            <div class="card-product-price-content">
                                <span class="card-product-content">Best Price* </span>
                                <span class="card-product-price">Rs.315</span>
                            </div>
                        </a>
                        <button class="button card-product-btn">BUY</button>
                    </div>

                    <div class="card-product">
                        <a href="">
                            <img class="card-product-img" src="images/D-130.png">
                            <div>
                                <span class="card-product-name">YOHIMBINUM MT</span>
                            </div>
                            <div class="card-product-price-content">
                                <span class="card-product-content">Best Price* </span>
                                <span class="card-product-price">Rs.315</span>
                            </div>
                        </a>
                        <button class="button card-product-btn">BUY</button>
                    </div>
                </div>
            </div>
            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#recommendations" data-bs-slide="prev">
                <div class="row-btn previous-button"></div>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#recommendations" data-bs-slide="next">
                <div class="row-btn next-button"></div>
            </button>
    </div>
</section>